@font-face {
    font-family:Vibes;
    src:url(../fonts/GreatVibes-Regular.ttf);
}
@font-face {
    font-family:Frank-Medium;
    src:url(../fonts/FrankRuhlLibre-Medium.ttf);
}
@font-face {
    font-family:Frank-Regular;
    src:url(../fonts/FrankRuhlLibre-Regular.ttf);
}

:root {
    --colour1:#414141;
    --colour2:#dad6db;
    --colour3:#906272;
    --colour4:#444444;

}
*,::before,::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    list-style:none;
    color:#000;
}
body{
    overflow-x:hidden;
}

.container {
    padding:0 2.5%;
    margin-inline:auto;
}


/* navigation styling  */
header {
    padding-inline:2.5%;
}
nav {
    padding:3% 0 9px;
    font-size:1.2rem;
    font-family:Frank-Regular;
    display:flex;
    justify-content: space-between;
    box-shadow:0 2px 7px #ddd;
}
    #logo{
        font-size:1.7rem;
        font-family:Vibes;
        min-width:max-content;
        padding-left:30px;
    }
    .nav-links {
        display:flex;
    }
    .nav-links li {
        margin-inline:50px;
        position:relative;
    }
    .nav-links a {
        font-size:1.3rem;
    }
    .nav-links a::before {
        content:"";
        position:absolute;
        top:-4px;
        width:0;
        height:1.2px;
        background-color: #000;
        transition: width 0.4s cubic-bezier(.42,.71,.28,1.11);
    }
    .nav-links a:hover::before {
        width:100%;
    }


/* landing styling  */
#hero {
    text-align:center;
}
#hero .container {
    display:flex;
}

    .hero-introduction {
        width:60%;
        height:60vh;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #hero h2 {
        line-height: 1.2;
        font-size:3.5rem;
        padding-block:20px;
    }
    #hero p {
    color: var(--colour4);
    font-size: 1.3rem;
    max-width: 362px;
    margin-block: 20px;
    }

    .gallery-btn{
        font-family:Frank-Regular;
        font-size:1.5rem;
        padding:13px 40px;
        margin:20px 0;
        border:1px solid #000;
        width: max-content;
        position:relative;
    }
    .gallery-btn::before {
        content:"";
        position: absolute;
        top:0;left:0;
        background-color: #000;
        width:100%;
        height:0;
        opacity:0.1;
        transition:.3s ease-in-out;
    }
    .gallery-btn:hover::before {
        height:100%;
    }

    .hero-images {
        width:40%;
        background-color:var(--colour2);
        position:relative;
        height:;
    }
    .hero-elena {
        width:100%;
        position:absolute;
        bottom:0;
        left:1%;
        z-index:1;
    }

    .final-plant {
        position:absolute;
        bottom: 30px;

    }
    .plant{
        width:49%;
    }
    .final-plant {
        transform:scale(1.2);
    }