@font-face {
    font-family:Vibes;
    src:url(../fonts/GreatVibes-Regular.ttf);
}
@font-face {
    font-family:Frank-Medium;
    src:url(../fonts/FrankRuhlLibre-Medium.ttf);
}
@font-face {
    font-family:Frank-Regular;
    src:url(../fonts/FrankRuhlLibre-Regular.ttf);
}

:root {
    --colour2:#414141;
    --colour1:#dad6db;
    --colour3:#906272;

}
*,::before,::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    list-style:none;
    color:#000;
}
body{
    overflow-x:hidden;
}

.container {
    padding:0 2.5%;
    margin-inline:auto;
}


/* navigation styling  */
header {
    padding-inline:2.5%;
}
nav {
    padding:3% 0 9px;
    font-size:1.2rem;
    font-family:Frank-Regular;
    display:flex;
    justify-content: space-between;
    box-shadow:0 5px 7px #ddd;
}
    #logo{
        font-size:1.6rem;
        font-family:Vibes;
        min-width:max-content;
    }
    .nav-links {
        display:flex;
        /* line-height:37px; */
    }
    .nav-links li {
        margin-inline:50px;
        position:relative;
    }
    .nav-links a::before {
        content:"";
        position:absolute;
        top:-4px;
        width:0;
        height:1.2px;
        background-color: #000;
        transition: width 0.4s cubic-bezier(.42,.71,.28,1.11);
    }
    .nav-links a:hover::before {
        width:100%;
    }


/* landing styling  */
#hero {
    
}
#hero .container {
    display: flex;
}
    .hero-introduction {

    }
    .hero-images {
        background-color:var(--colour1);
        position:relative;
    }
    .hero-elena {
        width:60%;
        position:relative;
        z-index:1;
    }
    .plant {
        width:39%;
        position:absolute;
    }
    .plant1{
        left:0;
        bottom:0;
    }
    .plant2 {
        right:128px;
        bottom:0;
    }


