@font-face {
    font-family:Vibes;
    src:url(../fonts/GreatVibes-Regular.ttf);
}
@font-face {
    font-family:Frank-Medium;
    src:url(../fonts/FrankRuhlLibre-Medium.ttf);
}
@font-face {
    font-family:Frank-Regular;
    src:url(../fonts/FrankRuhlLibre-Regular.ttf);
}

:root {
    --colour1:#414141;
    --colour2:#dad6db;
    --colour3:#906272;
    --colour4:#444444;

}
*,::before,::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    list-style:none;
}
html{
    scroll-behavior:smooth;
}
body{
    overflow-x:hidden;
}
a{
    color:#000;
}

.container {
    margin:0 0.3%;
}


/* navigation styling  */
header {
    position:relative;
    z-index:1000;
}
nav {
    padding:3% 0 9px;
    font-size:1.2rem;
    font-family:Frank-Regular;
    display:flex;
    justify-content: space-between;
    box-shadow:0 5px 30px -10px  rgb(126, 121, 121);
}
    #logo{
        font-size:1.7rem;
        font-family:Vibes;
        min-width:max-content;
        padding-left:30px;
    }
    .nav-links {
        display:flex;
    }
    .nav-links li {
        margin-inline:50px;
        position:relative;
    }
    .nav-links a {
        font-size:1.3rem;
    }
    .nav-links a::before {
        content:"";
        position:absolute;
        top:1px;
        width:0;
        height:1.2px;
        background-color: #000;
        transition: width 0.4s cubic-bezier(.42,.71,.28,1.11);
    }
    .nav-links a:hover::before {
        width:100%;
    }


/* landing styling  */
#hero {
    text-align:center;
}
#hero .container {
    display:flex;
}
    /* introduction style */
    .hero-introduction {
        width:60%;
        height:calc(100vh - 84px);
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #hero h2 {
        line-height: 1.2;
        font-size:3.5rem;
        padding-block:20px;
    }
    #hero p {
    color: var(--colour4);
    font-size: 1.3rem;
    max-width: 362px;
    margin-block: 20px;
    }

    .gallery-btn{
        font-family:Frank-Regular;
        font-size:1.5rem;
        padding:13px 40px;
        margin:20px 0;
        border:1px solid #000;
        width: max-content;
        position:relative;
        z-index: 1;
    }
    .gallery-btn::before {
        content:"";
        position: absolute;
        top:0;left:0;
        z-index: -1;
        background-color:var(--colour2);
        width:0;
        height:100%;
        transition:.3s ease-in-out;
    }
    .gallery-btn:hover::before {
        width:100%;
    }
            /* images style  */
            .hero-images {
                width:40%;
                background-color:var(--colour2);
                position:relative;
            }
            .hero-elena {
                width:100%;
                position:absolute;
                bottom:0;
                left:1%;
                z-index:1;
            }

            .final-plant {
                position:absolute;
                bottom: 30px;

            }
            .plant{
                width:49%;
            }
            .final-plant {
                transform:scale(1.2);
            }

/* about section for style  */

#about .container {
    display:flex;
}
        /* about image style  */
        .about-image {
            width:40%;
            position:relative;
        }

        .about-image h5 {
            font-family:Frank-Regular;
            font-size:1.5rem;
            font-weight:100;
            letter-spacing: 10px;
            position:absolute;
            top: 120px;
            left: 178px;
        }
        .about-image img {
            width:100%;
        }
                /* about text style  */
                .about-text {
                    width:60%;
                    background-color: var(--colour1);
                    color:#fff;
                }
                .about-text h2 {
                    font-family: Vibes;
                    font-size:2rem;
                    text-align: center;
                    margin:30px 0 40px;
                }
                .about-life, .about-work{
                    margin:10px 80px 30px ;
                }
                .about-text h3 {
                    font-size:2.2rem;
                    margin-bottom:15px;
                }
                .about-text p {
                    color:var(--colour2);
                    font-size: 1.2rem;
                    max-width: 362px;
                }
                .about-contact {
                    margin: 10px 80px 0;
                }

/* gallery styling  */

#gallery {
    margin-top:-3px;
}

#gallery .container {
    display:grid;
    grid-template-columns:repeat(3,minmax(240px,1fr));
    grid-auto-rows:300px;
}

.card {
    height:100%;
    width:100%;
    border-radius: 4px;
    transition: all 0.5s;
    overflow:hidden;

    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card:hover, button:hover{
    transform:translateY(-3px) scale(1.1);
}

.image1{
    grid-column:span 2;
}
.image2{
    grid-row-start:span 3;
} 

.image3{
    grid-row:2 / 4;
}
.image4{
    grid-row:2 / 4;
}  


/* contact section style  */
#contact {
}

#contact .container {
    display:flex;
    
}

.form-wrapper{
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#contact-text{
    font-size:3rem;
}
span {
    font-size:4.5rem;
    color:var(--colour3);
}
form > * {
    display: block;
    margin:10px 0;
    border:inherit;
    height: 40px;
    width:250px;
    cursor:pointer;
}
label {
    font-size: 1.5rem;
}
input[type="email"] {
    background:var(--colour1);
    color:#fff;
    font-size:16px;
    padding-left:10px;
}

input:focus {
    outline:none;
}

#contact button {
    font-size:1.1rem;
    width:100%;
    color:#fff;
    background:var(--colour3);
    
}
.contact-image {
    width:40%;
}

/* footer section style  */


footer .container {
    background:var(--colour1);
    display:flex;
    justify-content:space-between;
    color:#fff;
    padding:8px 0;

}
footer h4 {
    font-family:Frank-Regular;
    font-weight:200;
    font-size: 1.2rem;
    padding-inline:50px;
}

footer li {
    display: inline;
    padding:0 50px;
    
}
footer img {
    width:25px;
    transition: 0.1s ease-out;
}
footer img:hover {
    background-color:var(--colour3);
    border-radius: 8px;
}
