
/* media query zone  */

@media screen and (max-width:688px){

    /* for navigation bar  */
    #logo {
        display: flex;
        justify-content:space-around;
    }
    nav {
        position:relative;
        padding-top:15px;
    }
    .nav-links {
        display:none;
        flex-direction: column;
        align-items:flex-start;
        justify-content:center;
        position:absolute;
        top:0;
        left:-200px;
        width:200px;
        height:70vh;
        opacity:0;
        background-color: #fff;
        transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
        border-radius: 0 0 10px 10px;
        box-shadow:0 0 30px -10px  rgb(126, 121, 121);
    }
    .nav-links li {
        margin:20px 50px;
        
    }
    .nav-links-open {
        left:0;
        opacity:1;
    }
    #bar-icon {
        display:flex;
        padding-right:30px;
        cursor:pointer;
    }

    /* for hero section */
    #hero .container {
        display:flex;
        flex-direction: column;
    }
    .hero-images {
        width:99%;
        height:75vh;
        margin:0 0.3%;
    }
}

/* fixing hero image  */
@media screen and (max-width:1154px) {
    #hero {
        height:calc(100% - 63.1px);
    }
    .hero-images {
        height:72vh;
    }
}

@media (max-width:410px) {
    .hero-images {
        height:50vh;
    }
}
/* about section responsiveness   */
@media (max-width:680px) {
    .about-image {
        display:none;
    }
    .about-text {
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-life,.about-work, .about-contact {
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        align-items: center;
        width:fit-content;
    }
    #about h3 {
        width:100%;
    }
}

/* responsivness for gallery section  */
@media (min-width:732px){
    .image1{
        grid-column:span 3;
    }
    .image2{
        grid-row:span 4;
    } 
    
    .image3, .image4{
        grid-row:2 / 4;
    }
    #gallery .container {
        grid-auto-rows:200px;
    }

    
}