@media screen and (max-width:688px){

    /* for navigation bar  */
    #logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack:distribute;
            justify-content:space-around;
    }
    nav {
        position:relative;
        padding-top:15px;
    }
    .nav-links {
        display:none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align:start;
            -ms-flex-align:start;
                align-items:flex-start;
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
        position:absolute;
        top:0;
        left:-200px;
        width:200px;
        height:70vh;
        opacity:0;
        background-color: #fff;
        -webkit-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
        -o-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
        transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
        border-radius: 0 0 10px 10px;
        -webkit-box-shadow:0 0 30px -10px  rgb(126, 121, 121);
                box-shadow:0 0 30px -10px  rgb(126, 121, 121);
    }
    .nav-links li {
        margin:20px 50px;
        
    }
    .nav-links-open {
        left:0;
        opacity:1;
    }
    #bar-icon {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        padding-right:30px;
        cursor:pointer;
    }

    /* for hero section */
    #hero .container {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .hero-images {
        width:99%;
        height:75vh;
        margin:0 0.3%;
    }
}

/* fixing hero image  */
@media screen and (max-width:1154px) {
    #hero {
        height:calc(100% - 63.1px);
    }
    .hero-images {
        height:72vh;
    }
}

@media (max-width:410px) {
    .hero-images {
        height:50vh;
    }
}
/* about section responsiveness   */
@media (max-width:680px) {
    .about-image {
        display:none;
    }
    .about-text {
        width:100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .about-life,.about-work, .about-contact {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width:-webkit-fit-content;
        width:-moz-fit-content;
        width:fit-content;
    }
    #about h3 {
        width:100%;
    }

}
@media (min-width:800px) {
    .form-wrapper {
        padding-left: 120px;
    }
}
@media (max-width:800px) {
    .contact-image {
        display:none;
    }
    .form-wrapper {
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        width:100vw !important;
    }


    footer .container {
        height:20vh;
    }
    .social-media, .footer_text{
        width:100%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:center;
            -ms-flex-pack:center;
                justify-content:center;
    }
}

/* responsivness for gallery section  */
@media (min-width:732px){
    .image1{
        -ms-grid-column:1;
        -ms-grid-column-span:3;
        grid-column:1 / 4;
    }
    .image2{
        -ms-grid-row-span:2;
        grid-row:span 2;
        -ms-grid-column:5;
        -ms-grid-column-span:1;
        grid-column:5 / 6;
    } 
    
    .image3{
        -ms-grid-row:2;
        -ms-grid-row-span:2;
        grid-row:2 / 4;
    }
    .image4 {
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3 / 4;
        -ms-grid-column:3;
        -ms-grid-column-span:1;
        grid-column:3 / 4;
    }
    .image5{
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
        -ms-grid-column:4;
        -ms-grid-column-span:1;
        grid-column:4 / 5;
    }
    .image6 {
        -ms-grid-column:2;
        -ms-grid-column-span:2;
        grid-column:2 / 4;
    }
    .image7 {
        -ms-grid-row-span:2;
        grid-row:span 2;
    }
    .image8 {
        -ms-grid-column:2;
        -ms-grid-column-span:1;
        grid-column:2 / 3;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3 / 4;
    }
    .image9 {
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
        grid-column: 5 /  6;
    }


    
}